table .header {
    background: #fb3e3e;
    color: #b8c7ce;
}
.loading-overlay{
  display: none;
}
.modal-content{
  border-radius: 0px;
}
.cursor_point{
  cursor: pointer;
}
.fa-trash{
      color: #ec5151;
}
#wrapper {
    width: 100%;
}
#page-wrapper {
    padding:5em 2em 2.5em;
	background-color: #F1F1F1;
}
.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f105";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
	margin-bottom: 0;
}

.sidebar .nav-second-level li a {
	padding:10px 0;
    padding-left: 65px;
    font-size: .9em;
}
.sidebar .nav-third-level li a {
    padding-left: 52px;
}
@media(min-width:768px){
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}
/*Checkbox style*/
.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #ece5e5;
  background-color: #fb3e3e;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}
/*end checkbox*/
/*checkbox for table*/
/*Checkbox style*/
.funkyradio_t div {
  /*clear: both;
  overflow: hidden;*/
}

.funkyradio_t label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio_t input[type="radio"]:empty,
.funkyradio_t input[type="checkbox"]:empty {
  display: none;
}

.funkyradio_t input[type="radio"]:empty ~ label,
.funkyradio_t input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 4.5em;
  float: left;
  width: 46%;
  margin: 5px;
  text-indent: 3.25em;
  margin-top: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio_t input[type="radio"]:empty ~ label:before,
.funkyradio_t input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio_t input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio_t input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio_t input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio_t input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio_t input[type="radio"]:checked ~ label,
.funkyradio_t input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio_t input[type="radio"]:checked ~ label:before,
.funkyradio_t input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio_t input[type="radio"]:focus ~ label:before,
.funkyradio_t input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-primary_t input[type="radio"]:checked ~ label:before,
.funkyradio-primary_t input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}
/*end checkbox*/
/*normal checkbox*/
/* The container */
.container_c {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container_c input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark_c {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
 width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container_c:hover input ~ .checkmark_c {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_c input:checked ~ .checkmark_c {
  background-color: #f53333;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark_c:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_c input:checked ~ .checkmark_c:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_c .checkmark_c:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*end normal checkbox*/
/*end*/
/*icon*/
.img_icon{
  width: 50px;
  height: 60px;
  padding:2px;
  margin: 2px;
}
.img_size{
  width: 135px;
  height: 135px;
  padding:2px;
  margin: 2px;
}
/*// end*/
/*Radio Button*/
/* The container */
.container_radio {
  display: block;
  position: relative;
  padding-left: 25px;
  /*margin-bottom: 12px;*/
  float: left;
  margin: 4px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container_radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark_radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container_radio:hover input ~ .checkmark_radio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container_radio input:checked ~ .checkmark_radio {
  background-color: #f53333;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark_radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container_radio input:checked ~ .checkmark_radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container_radio .checkmark_radio:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
/*Radio Button End*/
/*popup*/
.modal{
/*background-color: #222d32;*/
background-image: url("../images/popup_bg.jpg");
background-size: cover;  

}

/*//popup*/
.branch_img_size{
  width: 125px;
  height: 100px;
}
.fa-check-circle-o{
  font-size: 40px;
  color: green;
}
.fa-times-circle-o{
  font-size: 40px;
  color: red;
}
/*checkbox*/
/* The container */
.container_checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark_checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container_checkbox:hover input ~ .checkmark_checkbox {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_checkbox input:checked ~ .checkmark_checkbox {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark_checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_checkbox input:checked ~ .checkmark_checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_checkbox .checkmark_checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.font-black{
  color: black;
}
/*//end*/
.tbody_bill{
       height:150px;
       display:block;
       overflow-y:scroll;
       width:100%;
     }
.thead_bill{
    
    width: calc( 100% - 1em )
}
.thead_bill tr{
    display:table;
    width:100%;
    background: #fb3e3e;
    color: #fff;
}
.social_vendar{
    color: #fff;
    font-size: x-large;
}
.staff_img_size{
    width: 130px;
    height: 130px;
}
.staff_icon_header{
    height: 50px;
    width: 50px;
}
/*billing - package (radio)*/
/*radio*/
.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  border: 1px dashed #444;
  width: 150px;
  height: 150px;
  transition: 500ms all;
}

input[type=radio]:checked + label>img {
  transform: 
    rotateZ(-10deg) 
    rotateX(10deg);
}
/*//end package radio*/
/*kot*/
.card_casper {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px 5px 5px 5px;
}

.card_casper:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-status{
  color: #000;
    /*background-color: #ffeb3b;*/
    padding: 10px;
    margin-top: 10px;
    font-weight: 400;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}
.card-details{
  width: 100%;
  padding: 10px;
}
.card-details h4 b{
  padding-left: 5px;
}
.card-details h4 span{
  font-size: medium;
    margin-top: 5px;
}
.casper_btn{
  width: 46%;
  margin-top: 5px;
}
.x {
    position: relative;
    float: right;
    color: #222d32;
    cursor: pointer;
    border-radius: 50%;
    top: -7px;
    right: -7px;
    font-size: 10px;
    padding: 4px;
    display: none;
}
.card_casper:hover .x {
  display: block;
}
.go_back{
  margin: 30px;
    padding: 10px;
    background: darkseagreen;
    color: #fff;
    border-radius: 10px;
}
