
body{
	background:url(../../images/login_images/banner.jpg),no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
body a{
transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;
-ms-transition:0.5s all;
font-weight:400;
}
input[type="button"],input[type="submit"]{
transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;
-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
margin:0;	
font-weight:400;
    transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;
-ms-transition:0.5s all;

}
.clear {
clear:both;
}
p{
margin:0;
}

ul{
margin:0;
padding:0;
}

label{
margin:0;
}
img {
    width: 100%;
}

@font-face {
  font-family:'Lobster-Regular';
  src: url('../fonts/Lobster-Regular.ttf') format('truetype');
}
@font-face {
  font-family:'Righteous-Regular';
  src: url('../fonts/Righteous-Regular.ttf') format('truetype');
}
/*--/Reset code--*/
.wthree-form{
	text-align: center;
	background-color: #131315;
	width: 40%;
	margin: 0 auto;
    padding: 3em;
	box-shadow: 4px 4px 0px rgb(77, 78, 80);
	opacity: 0.7;
	box-sizing: border-box;
}
h1 {
	font-size: 45px;
	font-weight: 400;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 9px;
	word-spacing: 4px;
    margin: 40px 0;
    color: #fff;
	font-family: 'Lobster', cursive;
}
span{
	color: red;
}
h2{
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	text-transform: lowercase;
	letter-spacing: 0.1em;
	padding: 0.5em;
	color: #fff;
	border-bottom: 2px solid red;
	font-family: 'Righteous', cursive;
}


input[type="text"],input[type="password"]{
	font-size: 1em;
	font-weight:500;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 1px;
	margin: 10px;
	padding: 8px 0;
	border: 2px solid #fff;
	outline: none;
	box-sizing: border-box;
	font-family: 'Righteous', cursive;
}
input[type="submit"] {
	font-size: 1em;
	font-weight: 500;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 3px;
	margin: 20px 0 20px;
    padding: 8px 0;
    border: 2px solid #fff;
	outline: none;
	cursor: pointer;
	width: 30%;
	box-sizing: border-box;
	font-family: 'Righteous', cursive;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}
input[type="submit"]:hover{
	font-size: 1em;
	font-weight: 500;
	text-transform: none;
	text-align: center;
	border-radius: 2em;
	border:2px solid #fff;
	padding: 8px 0;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	color: #fff;
	font-family: 'Righteous', cursive;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}
input.checkbox {
    margin-left: 2px;
}
.anim span{
	width: 23%;
}
.anim span{
	text-align: center;
	color: #fff;
	letter-spacing: 1px;
	font-family: 'Righteous', cursive;
}
a{	
	color: #fffcfc;
	text-decoration: none;
	letter-spacing: 1px;
	font-family: 'Righteous', cursive;
}
.footer-agileits {
	text-align: center;
	margin-top: 5em;
	color: #fff;
	font-family: 'Lobster', cursive;
	letter-spacing: 3px;
}
.footer-agileits a{
	color: yellow;
	font-family: 'Lobster', cursive;
}
.footer-agileits a:hover{
	color: #75eb6f;
}
/*--responsive--*/
@media(max-width:1920px){
	input[type="text"], input[type="password"]{
		width: 60%;
}
}
@media(max-width:1680){
	
}
@media(){
	
}

@media(max-width:1600px){
	input[type="text"], input[type="password"]{
		width: 70%;
}
}

@media(max-width:1440px){
	.wthree-form{
		background-color: #131315;
		width: 50%;
}
}
@media(max-width:1366){
	
}
@media(max-width:1280){
	
}
@media(max-width:1024){
	
}
@media(max-width:1080px){
	.wthree-form{
		background-color: #131315;
		width: 60%;
}
}
@media(max-width:1050px){
	
}
@media(max-width:1024px){
	.footer-agileits{
		margin-top: 3em;
	}
}
@media(max-width:991px){
	
}
@media(max-width:900px){
	
}
@media(max-width:800px){
	.wthree-form {
    background-color: rgb(19, 19, 21);
    width: 70%;
	}
	.footer-agileits{
		margin-top: 1em;
	}
}
@media(max-width:768px){
	.wthree-form {
    background-color: rgb(19, 19, 21);
    width: 75%;
	}
	.footer-agileits{
		margin-top: 5em;
	}
}
@media(max-width:736px){
	
}
@media(max-width:667px){
	h2{
		font-size: 19px;
	}
	.footer-agileits{
		margin-top: 1em;
	}
}
@media(max-width:640px){
	.wthree-form {
    background-color: rgb(19, 19, 21);
    width: 75%;
	}
}
@media(max-width:600px){
	h1{
		font-size: 35px;
		letter-spacing: 8px;
	}
	h2{
		font-size: 18px;
	}
}
@media(max-width:568px){
	h2{
		font-size: 15px;
	}
	.wthree-form{
			width: 78%;
	}
}
@media(max-width:480px){
	h1 {
    font-size: 30px;
    letter-spacing: 6px;
	}
	h2 {
    font-size: 14px;
	}
	.wthree-form {
    width: 85%;
	}
}
@media(max-width:414px){
	h1{
		font-size: 25px;
	}
	h2{
		font-size: 15px;
	}
	.footer-agileits {
    margin-top: 2.5em;
	}
	.wthree-form {
		padding: 2em 2em;
	}
}
@media(max-width:384px){
	h1{
		font-size: 22px;
	}
	.wthree-form {
    width: 90%;
	}
	.wthree-form {
		padding: 2em 1em;
	}
	h2{
		font-size: 16px;
	}
}
@media(max-width:375px){
	h1{
		font-size: 25px;
		
	}
	h2{
		font-size: 14px;
	}
	.wthree-form {
    width: 95%;
	}
	.wthree-form {
		padding: 2em 1em;
	}
}
@media(max-width:320px){
	h1{
		font-size: 24px;
		letter-spacing: 2px;
		    margin: 35px 0;
	}
	h2{
		font-size: 14px;
	}
	.footer-agileits p {
		font-size: 13px;
		line-height: 1.8;
	}
	.wthree-form {
		width: 100%;
	}
	input[type="submit"]{
		width: 40%;
	}	
	.wthree-form {
		padding: 1em;
	}
	input[type="text"], input[type="password"] {
		width: 90%;
	}	
}
/*--/responsive--*/
